input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}
/*form.ng-pristine {
    background-color: lightblue;
}
form.ng-dirty {
    background-color: pink;
}*/
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
