<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Calls to angular.module can only be compiled after the library has been loaded. -->
</head>
<body>
    <header>
        <h1>Angular Tutorial App for Practice</h1>
    </header>

    <main ng-app="myApp">
  <!-- The ng-app directive defines the root element of an AngularJS application. The ng-app directive will auto-bootstrap (automatically initialize) the application when a web page is loaded. -->
        <hr>
        <h2>1. Pre Intro</h2>
        <ul>
            <li>
                <p>Name : <input type="text" ng-model="nameA"></p>
                <h3>Hello {{nameA}}</h3>
            </li>
        </ul>

        <hr>
        <h2>2. Intro</h2>
        <ol>
            <li>
                <p>Name: <input type="text" ng-model="nameB"></p>
                <p ng-bind="nameB"></p>
            </li>

            <li>
                <p ng-init="firstName1='YoungWook'">The first name is <span ng-bind="firstName1"></span></p>
                <p data-ng-init="lastName1='Baek'">The last name is <span data-ng-bind="lastName1"></span></p>
                <!-- You can use data-ng-, instead of ng-, if you want to make your page HTML valid. -->
            </li>

            <li>
                <p>My first expression: {{ 5 + 5 }}</p>
                <!-- AngularJS expressions are written inside double braces: {{ expression }}. -->
            </li>

            <li ng-controller="myCtrl">
                First Name: <input type="text" ng-model="firstName2"><br>
                Last Name: <input type="text" ng-model="lastName2"><br>
                <br>
                Full Name: {{firstName2 + " " + lastName2}}
<!-- AngularJS modules define AngularJS applications. AngularJS controllers control AngularJS applications. The ng-app directive defines the application, the ng-controller directive defines the controller. -->
            </li>
        </ol>

        <hr>
        <h2>3. Expressions</h2>
        <ol>
            <li ng-init="myCol='lightblue'">
                <input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
                <!-- styles -->
            </li>
            <li ng-init="quantity=1;cost=5">
                <p>Total in dollar: {{ quantity * cost }}</p>
                <!-- numbers -->
                <!-- Using ng-init is not very common. You will learn a better way to initialize data in the chapter about controllers. -->
            </li>
            <li ng-init="firstName3='Abraham';lastName3='Lincoln'">
                <p>The name is <span ng-bind="firstName3 + ' ' + lastName3"></span></p>
                <!-- strings -->
            </li>
            <li ng-init="person={firstName:'John',lastName:'Doe'}">
                <p>The last name is {{ person.lastName }}</p>
                <!-- objects -->
            </li>
            <li ng-init="points=[1,15,19,2,40]">
                <p>The third item in the array is <span ng-bind="points[2]"></span></p>
                <!-- arrays -->
            </li>
        </ol>

        <hr>
        <h2>4. Modules</h2>
        <ol>
            <li>
                <p test-directive></p>
      <!-- New directives are created by using the .directive function.
        To invoke the new directive, make an HTML element with the same tag name as the new directive.
        When naming a directive, you must use a camel case name, w3TestDirective, but when invoking it, you must use - separated name, w3-test-directive -->
            </li>
        </ol>

        <hr>
        <h2>5. Directives</h2>
        <ol>
            <li ng-init="language5='Korean'">
                <p>Language: <input type="text" ng-model="language5"></p>
                <p>You wrote: {{ language5 }}</p>
            </li>
            <li ng-init="quantity5=1;price5=5">
                Quantity: <input type="number" ng-model="quantity5">
                Costs:    <input type="number" ng-model="price5">
                Total in dollar: {{ quantity5 * price5 }}
            </li>
            <li>
                <ul ng-init="names5=['Jani','Hege','Kai']">
                    <h4>Using ng-repeat with array of strings</h4>
                    <li ng-repeat="x in names5">
                        {{ x }}
                    </li>
                </ul>
            </li>
            <li ng-init="names51=[
            {name:'Jani',country:'Norway'},
            {name:'Hege',country:'Sweden'},
            {name:'Kai',country:'Denmark'}]">
                <ul>
                    <h4>Using ng-repeat with array of objects</h4>
                    <li ng-repeat="x in names51">
                        {{ x.name + ', ' + x.country }}
                    </li>
                </ul>
            </li>
            <li>
                <test-directive5></test-directive5>
            </li>
            <li>
                <!-- directive: test-directive51 -->
            </li>
<!--             You can invoke a directive by using:
            Element name - <test-directive></test-directive>
            Attribute - <div test-directive></div>
            Class - <div class="test-directive"></div>
            Comment - "directive: test-directive" -->
        </ol>

        <hr>
        <h2>6. Model</h2>
        <ol>
            <li>
                <form name="myForm61">
                    Email:
                    <input type="email" name="myAddress61" ng-model="text">
                    <span ng-show="myForm61.myAddress61.$error.email">Not a valid e-mail address</span>
                </form>
            </li>
    <!-- The ng-model directive can provide type validation for application data (number, e-mail, required) The span will be displayed only if the expression in the ng-show attribute returns true.
    If the property in the ng-model attribute does not exist, AngularJS will create one for you. -->
            <li>
                <form name="myForm62" ng-init="myText62 = 'post@myweb.com'">
                    Email:
                    <input type="email" name="myAddress62" ng-model="myText62" required>
                    <h4>Status</h4>
                    Valid? {{myForm62.myAddress62.$valid}}
                    Dirty? {{myForm62.myAddress62.$dirty}}
                    Touched? {{myForm62.myAddress62.$touched}}
                </form>
            </li>
<!-- he ng-model directive can provide status for application data (invalid, dirty, touched, error) -->
            <li>
                <form name="myForm63">
                    Enter your name:
                    <input name="myName63" ng-model="myText63" required>
                </form>
            </li>
<!-- The ng-model directive provides CSS classes for HTML elements, depending on their status:The ng-model directive adds/removes the following classes, according to the status of the form field:
ng-empty, ng-not-empty, ng-touched, ng-untouched, ng-valid, ng-invalid, ng-dirty, ng-pending, ng-pristine -->
        </ol>

        <hr>
        <h2>7. Data Binding</h2>
        <!-- AngularJS features two-way data binding -->
        <ol>
            <li ng-controller="myCtrl7">
                <h4 ng-click="changeName()">{{name}}</h4>
            </li>
        </ol>

        <hr>
        <h2>8. Controllers</h2>
        <!-- AngularJS applications are controlled by controllers.
        The ng-controller directive defines the application controller.
        A controller is a JavaScript Object, created by a standard JavaScript object constructor. -->
        <ol>
            <li ng-controller="personCtrl81">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name(executed as controller method): {{fullName()}}
            </li>
        </ol>
    </main>

    <script src="js/app.js"></script>
</body>
</html>
